matplotlib
nltk
pandas
plotly
scikit_learn
numpy==1.22.1
spacy
streamlit
pt-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.0.0/pt_core_news_sm-3.0.0-py3-none-any.whl